<p id="notice"><%= notice %></p>

<p>
  <strong>Temperatura:</strong>
  <%= @climatizador.temperatura %>
</p>

<%= link_to 'Edit', edit_climatizador_path(@climatizador) %> |
<%= link_to 'Back', climatizadors_path %>
